

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(brian.jpeg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 140px;
    transition: 0.5s;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    font-style: italic;

}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    color: #222;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 200;
}
.content p{
    margin: 10px 0 30px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content h2{
    font-size: 50px;
    color: greenyellow;
}
.image{
    display: flex;
    align-items: center;
    float: right;
}
.image img{
    width: 350px%;
    height: 350px;
    border-radius: 50%;
    

}
h1{
    font-style: italic;
    align-items: first baseline;
    color: blue;
    text-decoration: underline;
    
}
h2{
    font-style: oblique;
    color: blue;
}
p{
    font-style: italic;
    color: purple;
    text-decoration: #333;
    padding: 0%;
}
div ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    align-items: center;

}
