 h1{
    background-image: url("./Beige 02 Matt 2_5L.jpeg");
   background-repeat: repeat-x;
   height: auto;
   width: auto;
text-align: center;
font-size: 80px;
font-style: italic;
font-family: Helvetica, Arial, Georgia, Tahoma, Roboto
}
h2{
    text-align: left;
    font-size: 22pt;
    font-style: italic;
     
}
.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
.Dubai-frame{
    float: left;
    background-image: url(./America\ Travel.jpeg);
    padding: 30px;
    background-repeat: repeat-x
    ;
    width: 820px;
    
}
.burj-khalifa{
    
    float: left;
    padding: 10px;
    background-repeat: repeat-x;
    background-color: aliceblue;
}
.museum{
    float: left;
    width: 800px;
    padding: auto;
    background-color: blanchedalmond;
}
.Sagrada{
    width: 736px;
    height: 1097px;;
    float: left;

    padding: 50px;
    background-image: url(./📍Barcelona\,Spain🇪🇸.jpeg);
    display: block;
background-repeat:inherit;
}
.Dream-vacation::after{
    content: "";
    display: table;
    clear: both;
}
.spain p{
    font-size: 18pt;
}
 p{
    font-size: 18pt;
 }
 li{
    font-size: 18pt;
 }
.burj-khalifa{
    text-align: left;
}